<div class="input-group mb-3 ml-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Search</span>
  </div>
  <input [(ngModel)]="search" (keyup)="onSearchChanged()" type="text" class="form-control">
</div>
<div>
  <table class="table table-striped table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Id (VIN-Index)</th>
        <th>PubKey</th>
        <th>Address</th>
        <th>Status</th>
        <th>Connected</th>
        <th>Protocol</th>
        <th>Balance</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let masternode of masternodes">
        <td>{{masternode.nodeId}}</td>
        <td>{{masternode.pubKey}}</td>
        <td>{{masternode.address}}</td>
        <td>{{masternode.status}}</td>
        <td>{{masternode.connectionTest.connected}}</td>
        <td>{{masternode.protocol}}</td>
        <td>{{masternode.balance}}</td>
        <td>{{masternode.activeDuration}}</td>
      </tr>
    </tbody>
  </table>
</div>