<div class="ml-2">
  <h1>BitSend Masternodes</h1>
</div>

<div class="card ml-2">
  <div class="card-header">
    Info
  </div>
  <div class="card-body">
    <div class="card-text"><strong>Masternode Count:</strong> {{ masternodeCount }}</div>
    <div class="card-text"><strong>Donate (BSD):</strong> {{ donateAddress }}</div>
  </div>
</div>

<div class="input-group mb-1 ml-2 mt-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Search</span>
  </div>
  <input [(ngModel)]="search" (keyup)="onSearchChanged()" type="text" class="form-control">
</div>

<div>
  <table class="table table-striped table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Id (VIN-Index)</th>
        <th>PubKey</th>
        <th>Address</th>
        <th>Status</th>
        <th>Connected</th>
        <th>Active</th>
        <th>Last Seen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let masternode of masternodes">
        <td><a routerLink="/{{masternode.nodeId}}" title="{{masternode.nodeId}}">{{ masternode.nodeId | slice:0:12 }}...</a></td>
        <td>{{masternode.pubKey}}</td>
        <td>{{masternode.address}}</td>
        <td>{{masternode.status}}</td>
        <td>{{masternode.connectionTest?.connected}}</td>
        <td>{{masternode.activeDuration}}</td>
        <td>{{masternode.lastSeen}}</td>
      </tr>
    </tbody>
  </table>
</div>